/*******         banner部分开始            ********/

#headerbanner{
    width: 100%;
    height: 350px;
    padding: 50px 0 50px 100px;
    background: url(../image/banner.png) no-repeat center;
    background-size: 100% 100%;
}
#headerbanner #title{
    margin-left: 8%;
    font-size: 35px;
    color: #ddd;
}
#headerbanner #content{
    margin-left: 8%;
    width: 40%;
    margin-top: 30px;
    line-height: 40px;
    font-size: 18px;
}
/*******         banner部分结束            ********/




/*******         detail部分开始            ********/

        /*fixed导航条开始*/

#topnavbar{
    top: -60px;
    display: none;
    width: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 1000;
    /*padding: 10px 40px 10px 40px;*/
}

#topnavbar #fixedtitle{
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
}

#topnavbar #fixedtitle #moreproduct{
    margin: 10px 0px 10px 40px;
    height: 40px;
    flex: 1;
    text-align: center;
    border: solid 1px rgb(225,227,230);
}

#topnavbar #fixedtitle #servicetitle{
    margin: 5px 0 10px 0;
    height: 40px;
    flex: 5;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#topnavbar #fixedtitle #imediateuse{
    margin: 10px 40px 10px 0px;
    height: 40px;
    flex: 1;
    text-align: center;
    background: rgb(68,136,223);
    color: #ffffff;
}

#topnavbar #fixednavbar #fixednavtemplate{
    width: 100%;
    height: 40px;
    background: #ffffff;
    padding: 0px 20% 0px 20%;
    display: flex;
    background: rgba(0,0,0,0.6);

}

#topnavbar #fixednavbar #fixednavtemplate .fixednavitem{
    /*background: red;*/
    /*margin: 10px;*/
    flex: 1;
    line-height: 40px;/*保持与父元素一致*/
    font-size: 16px;
    text-align: center;
}

#topnavbar #fixednavbar #fixednavtemplate .active{
    color: rgb(255,255,255);
}
#topnavbar #fixednavbar #fixednavtemplate .inactive{
    color: rgb(150,150,150);
}

#topnavbar #fixednavbar #slider{
    position: relative;
    width: 0px;
    background: rgb(200,200,200);
    height: 5px;
}

        /*fixed导航条结束*/







        /*导航条开始*/
#productdetail #navbar #navtemplate{
    width: 100%;
    height: 40px;
    background: rgb(97,97,7);
    padding: 0px 20% 0px 20%;
    display: flex;
}

#productdetail #navbar #navtemplate .navitem{
    /*background: red;*/
    /*margin: 10px;*/
    flex: 1;
    line-height: 40px;/*保持与父元素一致*/
    font-size: 16px;
    text-align: center;
}

#productdetail #navbar #navtemplate .active{
    color: rgb(59,132,229);
}
#productdetail #navbar #navtemplate .inactive{
    color: #ffffff;
}

        /*导航条结束*/


#productdetail #details{
    margin: 0 auto;
    width: 70%;
}

#productdetail #details .detailtitle{
    margin-top: 30px;
    font-size: 20px;
}

#productdetail #details .detailtitle:before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 24px;
    background: rgb(59,132,229);
    margin-right: 3px;
    position: relative;
    top: 3px;
}
/**********************************************************************/
        /*高超概述*/

#productdetail #details .detailcontent .overview{
    display: flex;
    margin-top: 20px;
    border: solid 1px rgb(225,227,230);
    
}

#productdetail #details .detailcontent .overview .description{
/*     display: flex; */
    padding: 30px;
}
#productdetail #details .detailcontent .overview .contenticon{
    margin: 0 auto;
    /*background: #000000;*/
    width: 70%;
    /*height: 100px;*/
}
#productdetail #details .detailcontent .overview .contenticon>img{
    width: 100%;
    opacity: 0.8;
}
/**********************************************************************/
        /*产品优势*/
#productdetail #details #advantagetemplate{
    display: flex;
}

#productdetail #details #advantagetemplate .advantageitem{
    flex: 1;
    margin-top: 20px;
    border: solid 1px rgb(225,227,230);
    height: 400px;
}
#productdetail #details #advantagetemplate .advantageitem .title{
    width: 100%;
    height: 90px;
    line-height: 90px;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px rgb(225,227,230);
    background: rgb(243,245,247);
}
#productdetail #details #advantagetemplate .advantageitem .content{
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}
#productdetail #details #advantagetemplate .active{
    box-shadow: 0 0px 5px 1px rgb(34,119,235);
    z-index: 10;
    border: solid 1px rgb(34,119,235);

}
/*title*/
#productdetail #details #advantagetemplate .active .title{
    background: rgb(34,119,235);
    color: rgb(255,255,255);
    border-bottom: solid 0;
    
}
#productdetail #details #advantagetemplate .active .content{
    border-bottom: solid 0;
    
}




/**********************************************************************/
        /*产品功能*/
#productdetail #details #functiontemplate{
}

#productdetail #details #functiontemplate .functionitem{
    position: relative;
    margin-top: 20px;
    border: solid 1px rgb(225,227,230);
    height: 70px;
    line-height: 60px;
}

#productdetail #details #functiontemplate .inactive .icon{
    float: left;
    margin-left: 0px;
    height: 100%;
    width: 100px;
    background: url(../image/function.png) no-repeat center;
}

#productdetail #details #functiontemplate .active .icon{
    float: left;
    margin-left: 0px;
    height: 100%;
    width: 100px;
    background: url(../image/function_active.png) no-repeat center;
}

#productdetail #details #functiontemplate .functionitem .title{
    margin: 10px 0 0 0px;
    font-size: 20px;
}

#productdetail #details #functiontemplate .functionitem .content{
    margin: 10px 0 0 0px;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
}
/**********************************************************************/


        /*成果*/

#productdetail #details #scene{
    margin-top: 20px;
    border: solid 1px rgb(225,227,230);
    border-top: 0;
}
#productdetail #details #scene .scenetab{
    display: flex;
}
#productdetail #details #scene .scenetab .tabitem{
    flex: 1;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

#productdetail #details #scene .scenetab .inactive{
    border: solid 1px rgb(225,227,230);
    border-left: 0;
    border-bottom: solid 0;
    background: rgb(243,245,247);
}

#productdetail #details #scene .scenetab .active{
    border-top: solid 3px rgb(59,132,229);
    border-right: solid 1px rgb(225,227,230);
    border-bottom: solid 0;
    background: rgb(255,255,255);
}

#productdetail #details #scene #scenebodytemplate{
    width: 100%;
    display: flex;
}
#productdetail #details #scene .scenecontent .bodyitem{
    flex: 1;
    width: 25%;
    border-top: solid 1px rgb(225,227,230);
    border-right: solid 1px rgb(225,227,230);
    padding: 40px;
    text-align: left;
}
#productdetail #details #scene .scenecontent .bodyitem>p{
    width: 100%;
}
#productdetail #details #scene .scenecontent .bodyitem:last-child{
    border-right: none;
}



#productdetail #details #scene .scenecontent{
    width: 100%;
    height: 250px;
}


        /*帮助文档*/
#productdetail #details #helpdoctemplate{
    margin-bottom: 40px;
}
#productdetail #details #helpdoctemplate .helpitem{
    display: inline-block;
    width: 17%;
}

#productdetail #details #helpdoctemplate .helpitem .helptitle{
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 16px;
}

#productdetail #details #helpdoctemplate .inactive .helplink{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
}
#productdetail #details #helpdoctemplate .active .helplink{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: rgb(34,119,235);
}







/*******         detail部分结束            ********/



/*******       footerbanner部分开始        ********/

#footerbanner{
    width: 100%;
    height: 200px;
    padding: 50px 0 50px 0px;
    background: url(../image/footer_banner.png) no-repeat 100% 100%;
    text-align: center;
    color: #ffffff;
}
#footerbanner #title{
    margin: 0 auto;
    font-size: 26px;
}
#footerbanner #register{
    margin: 40px auto;
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: solid 1px #ffffff;
    font-size: 16px;
}

#footerbanner>a{
   color: #ffffff;
}
/*******       footerbanner部分结束        ********/
a:hover{
    cursor: pointer;
}


